<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/tailwind.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    
                      <!-- Only display the logout button if the user is logged in -->
                    {{#if logged_in}}
                    <nav class="px-6 py-4 bg-yellow-500 shadow-lg rounded-sm">
                      <span class="logo flex float-left">A-LOTTA-RHYTHMS</span>
                      <div class="flex flex-row-reverse ...">
                        <div><a id="logout" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0 font-semibold text-lg underline">Logout</a></div>
                        <div><a href="/profile" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0 font-semibold text-lg underline">Profile</a></div>
                        <div><a href="/" class="my-1 text-gray-800 hover:text-blue-500 md:mx-4 md:my-0 font-semibold text-lg underline">Feed</a></div>
                      </div>
                    </nav>
                    {{else}}
                    {{/if}}
 
  <main class="container">
    {{{ body }}}
  </main>
 

  <!-- Only include the logout script if the user is logged in -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
